footer {
  background-color: #004a63; /* Cor do fundo conforme a imagem */
  color: #ffffff; /* Cor do texto */
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 10px; /* Espaçamento entre os ícones */
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Tamanho dos ícones */
  height: 40px;
  background-color: #3A7071;
  border-radius: 20px;
  color: #ffffff;
}

.social-icon i {
  font-size: 1.5rem; /* Tamanho dos ícones */
}

@media (max-width: 992px) {
  .custom-column-footer{
    width: 30% !important;
  }
}
