#contact {
  background-color: #fff;
  color: #00375F;
  height: 80vh;
}

.contact-form {
  background-color: #00375F;
  border-radius: 5px;
  color: #fff;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.contact-form .form-label {
  color: #fff;
  margin: 10px 10px;
  font-size: 1rem;
}

.contact-form .form-control {
  background-color: #00375F;
  color: #ffffff;
  border: none;
  border-radius: 0;
  width: 100%;
  
  border: 1px solid #ffffff;
}

::-webkit-input-placeholder {
  color: rgb(255, 255, 255) !important;
  
}

.submit-button {
  background-color: #5CB85C;
  border: none;
  border-radius: 0;
  width: 100%;
}

.info-box {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.info-icon {
  font-size: 30px;
  margin: 1%;
  color: #00375F;
}

.info-box h4 {
  margin-top: 10px;
  color: #00375F;
}

.img-fluid {
  margin-top: 100px;
  max-width: 60%;
  height: auto;
}

textarea {
  resize: none;
}
