#contact {
  background-color: #fff;
  color: #00375F;
}

.contact-form::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 5px;
  border: 1px solid #00375F;
}

#contact h1 {
  font-size: 2rem;
}

.contact-form {
  background-color: #00375F;
  border-radius: 5px;
  color: #fff;
  text-align: left;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative; /* Adicione esta linha */
  z-index: 1;
  margin-top: 20px;
}

.contact-form .form-label {
  color: #fff;
  margin: 15px 15px;
  font-size: 1rem;
}

.contact-form .form-control {
  background-color: #00375F;
  color: #ffffff;
  border: none;
  border-radius: 0;
  width: 100%;
  
  border: 1px solid #ffffff;
}

::-webkit-input-placeholder {
  color: rgb(255, 255, 255) !important;
  
}

.submit-button {
  background-color: #3A7071;
  border: none;
  border-radius: 20px;
  width: 30%;
  margin: 20px;
  align-self: flex-end;

}

.info-box {
  width: 60%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.info-icon {
  font-size: 30px;
  margin: 1%;
  color: #00375F;
}

.info-box h4 {
  margin-top: 10px;
  color: #00375F;
}

.img-fluid {
  margin-top: 16%;
  max-width: 60%;
  height: auto;
}

textarea {
  resize: none;
}

.custom-text-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media (max-width: 768px) {
  .row-custom-contact-responsive{
    flex-direction: column-reverse;
  }

  .text-center{
    margin: 10px;
  }
}