.logo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 2rem 0;
    height: 500px;
    padding: 20px;
  }
  
  .logo-item, .reverse-item{
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-item:nth-child(even){
    background-color: #004060;
  }

  .reverse-item:nth-child(odd){
    background-color: #004060;
  }
  
  .logo-image {
    width: 70%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .logo-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin: 0;
    }

    .logo-item:nth-child(even){
      background-color: initial;
    }
  
    .reverse-item:nth-child(odd){
      background-color: initial;
    }
    



  .geral-item:nth-of-type(4n+1),
  .geral-item:nth-of-type(4n+4) {
    background-color: #004060;
  }
    .container-marks{
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
    }
  }