#services {
  background-image: url('./services.png');
  background-size: cover;
  background-position: center;
  color: #fff; /* White text color */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#services h1{
  color: #fff;
  text-align: left;
  font-size: 4rem;
}

.service-box {
  padding: 20px;
  margin: 20px 0;
  color: #fff;
  text-align: left;
}

.service-box p{
  margin: 20px 0;
  color: #fff;
  text-align: left;
}

.service-icon {
  font-size: 50px;
  margin-bottom: 20px;
  color: #fff
}
