#services {
  background-image: url('./services.png');
  background-size: cover;
  background-position: center;
  color: #fff; /* White text color */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#services h1{
  color: #fff;
  text-align: left;
  font-size: 4rem;
}

.service-box {
  padding: 20px;
  margin: 20px 0;
  color: #fff;
  text-align: left;
}

.service-box p{
  margin: 20px 0;
  color: #fff;
  text-align: left;
}

.service-icon {
  font-size: 50px;
  margin-bottom: 20px;
  color: #fff
}

@media (max-width: 992px) {

  #services {
    height: auto;
  }
  .custom-row-services-responsive {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: center !important;
  height: auto !important;
}

  .sc-fQpRED, .col-md-1{
    display: none !important;
  }

  .col-md-3{
    min-width: 100% !important;
    max-height: 100% !important;
  }
  .service-box {
    width: auto !important;
  }
}

@media (max-width: 486px) {
  .text-center{
    font-size: 1rem;
  }

  #services h1{
    font-size: 2rem;
  }
}

@media (max-width: 380px) {
  .text-center{
    font-size: 1rem;
  }

  #services h1{
    margin: 20px;
    font-size: 1.5rem;
  }
}